/* [ START ] Main Rules */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f2eae2;
	min-height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
}
/* [ END ] Main Rules */
/* [ START ] Main Section */
main {
	max-width: 37.5rem;
	border-radius: 0.625rem;
	overflow: hidden;
	display: flex;
}
@media screen and (max-width: 768px) {
	main {
		max-width: 21.438rem;
		flex-direction: column;
	}
}
main .product-image {
	max-width: 21.106rem;
}
@media screen and (max-width: 768px) {
	main .product-image {
		max-width: 21.438rem;
		display: flex;
		justify-content: center;
	}
}
main .product-image img:first-of-type {
	display: block;
	width: 100%;
}
@media screen and (max-width: 768px) {
	main .product-image img:first-of-type {
		display: none;
	}
}
main .product-image img:last-of-type {
	display: none;
}
@media screen and (max-width: 768px) {
	main .product-image img:last-of-type {
		display: block;
		height: 100%;
		width: 100%;
	}
}
main article {
	max-width: 18.75rem;
	background: #fff;
	padding: 2rem;
}
@media screen and (max-width: 768px) {
	main article {
		padding: 1.5rem;
		max-width: 21.438rem;
	}
}
main article header {
	margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
	main article header {
		margin-bottom: 1rem;
	}
}
main article header p {
	color: #6c7289;
	font-size: 0.75rem;
	letter-spacing: 0.41667em;
	font-weight: 500;
	line-height: 1.219;
	margin-bottom: 1.6667em;
}
@media screen and (max-width: 768px) {
	main article header p {
		font-size: 0.75rem;
		margin-bottom: 1em;
	}
}
main article header h1 {
	color: #1c232b;
	font-family: 'Fraunces', serif;
	font-size: 2rem;
	line-height: 1;
	font-weight: 700;
}
main article section {
	margin-bottom: 1.875rem;
}
@media screen and (max-width: 768px) {
	main article section {
		margin-bottom: 1.5rem;
	}
}
main article section p {
	color: #6c7289;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.64;
	margin-bottom: 2.071em;
}
main article section h2 {
	font-family: 'Fraunces', serif;
	color: #3d8168;
	font-size: 2rem;
	line-height: 1;
	font-weight: 700;
	display: flex;
	column-gap: 19px;
}
main article section h2 span {
	font-family: 'Montserrat', sans-serif;
	color: #6c7289;
	font-size: 0.813rem;
	line-height: 1.76;
	font-weight: 500;
	text-decoration: line-through;
	align-self: center;
}
main article footer {
}
main article footer button {
	padding: 1.071em 0;
	border: none;
	border-radius: 8px;
	background-color: #3d8168;
	width: 100%;
	font-size: 0.875rem;
	line-height: 1.219;
	font-weight: 700;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
main article footer button:hover {
	background-color: #1a4032;
}
main article footer button img {
	margin-right: 0.726rem;
}
/* [ END ] Main Section */
